<nav [ngClass]="navType" class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="logo_light" src="assets/logo-white.svg" alt="" />
      <img class="logo_dark" src="assets/logo-black.svg" alt="" />
    </a>
    <ul class="loggedOut navbar-nav m-0">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle d-flex align-items-center"
          href="home"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <div class="avatar">
            <img src="assets/arsany_avatar.jpg" alt="" />
          </div>
          <div class="user-info">
            <h4 class="user-name">Arsany Milad</h4>
            <p class="occupation">Junior Software Engineer</p>
          </div>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Log out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
