<swiper class="my-swiper" [config]="config">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div
        class="content color1 d-flex justify-content-between align-items-center"
      >
        <div class="slide-text">
          <h3>Improve your resume</h3>
          <p class="body">
            our AI-powered platform instantly gives you tailored feedback on
            your resume.
          </p>
        </div>

        <div class="slide-img">
          <img src="assets/score-page.png" alt="" />
        </div>
      </div>
    </div>
    <div class="swiper-slide" swiperSlide>
      <div
        class="content color2 d-flex justify-content-between align-items-center"
      >
        <div class="slide-text">
          <h3>Track your progress</h3>
          <p class="body">
            See how far you've come over time with detailed graphs and history.
          </p>
        </div>

        <div class="slide-img">
          <img src="assets/profile.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-prev">
    <img src="assets/swiper-prev.svg" alt="" />
  </div>
  <div class="swiper-button-next">
    <img src="assets/swiper-next.svg" alt="" />
  </div>
</swiper>
<div class="swiper-pagination"></div>
