<app-navbar [navType]="navType"></app-navbar>
<div class="home d-flex flex-column">
  <section class="header d-flex">
    <div
      class="container p-lg-0 d-flex justify-content-center align-items-center"
    >
      <div class="text-center">
        <h1>Cause your resume should be your least concern</h1>
        <p class="body">
          Resume.ai - The perfect tool for job seekers looking to get hired. Our
          AI-powered web application uses advanced methods to screen and score
          resumes, ensuring that you stand out from the competition. breeze
          through the application process, knowing you have the best chance of
          getting the job you want.
        </p>
        <a class="redirect" href="upload">Upload your Resume</a>
      </div>
    </div>
  </section>
  <section class="features">
    <div class="container">
      <h2>Your AI resume assistant</h2>
      <p class="body">
        Struggling to write your resume? Don't worry, we got you covered with
        all the features you could need to land your dream job.
      </p>
      <app-carousel></app-carousel>
    </div>
  </section>
  <section class="model">
    <div class="container">
      <div class="model-intro text-center">
        <h2>What our model can do</h2>
        <p class="body">
          Some of the metrics you can expect our model to evaluate and help you
          improve
        </p>
      </div>
      <div class="row">
        <div class="col">
          <div class="d-flex">
            <fa-icon [icon]="faFont"></fa-icon>
            <div class="feature_description">
              <h3>Typos</h3>
              <p class="body">
                Typos in a resume can be a major red flag for employers. Not
                only do typos make a resume look sloppy and unprofessional, but
                they can also make it difficult for employers to understand the
                information presented. Taking the time to proofread and correct
                typos in a resume can make the difference between getting an
                interview and being overlooked.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="d-flex">
            <fa-icon [icon]="faFont"></fa-icon>
            <div class="feature_description">
              <h3>Typos</h3>
              <p class="body">
                Typos in a resume can be a major red flag for employers. Not
                only do typos make a resume look sloppy and unprofessional, but
                they can also make it difficult for employers to understand the
                information presented. Taking the time to proofread and correct
                typos in a resume can make the difference between getting an
                interview and being overlooked.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="d-flex">
            <fa-icon [icon]="faFont"></fa-icon>
            <div class="feature_description">
              <h3>Typos</h3>
              <p class="body">
                Typos in a resume can be a major red flag for employers. Not
                only do typos make a resume look sloppy and unprofessional, but
                they can also make it difficult for employers to understand the
                information presented. Taking the time to proofread and correct
                typos in a resume can make the difference between getting an
                interview and being overlooked.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="d-flex">
            <fa-icon [icon]="faFont"></fa-icon>
            <div class="feature_description">
              <h3>Typos</h3>
              <p class="body">
                Typos in a resume can be a major red flag for employers. Not
                only do typos make a resume look sloppy and unprofessional, but
                they can also make it difficult for employers to understand the
                information presented. Taking the time to proofread and correct
                typos in a resume can make the difference between getting an
                interview and being overlooked.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pre-footer">
    <div class="container">
      <div class="text-center">
        <h1>Ready to get started?</h1>
        <p class="body">Start using Resume.ai today!</p>
        <a class="redirect" href="signup.html">Sign up</a>
      </div>
    </div>
  </section>
</div>
